.page-header {
  padding-bottom: .5em;
  margin: 2.25em 0 1.125em;
}

.page-header h1 {
  font-size: 3em;
}

footer {
  margin: 1.25em 0;
}

p {
  text-align: justify;
}

blockquote p + p {
  margin-top: .67em;
}

.listing img,
.meta img {
  background-color: {{ site.image_border_color }};
  border-radius: 20px;
  padding: 1px;
}

#post {
  margin-bottom: 32px;
}

#post img {
  display: block;
  margin: 1em auto 0 auto;
  max-width: 100%;
}

#post img + em {
  display: block;
  margin-top: .5em;
  text-align: center;
}

#post .thumbnail img {
  margin: 0;
}

.listing {
  font-size: 1.17em;
}

.listing li {
  list-style-type: none;
  padding: 10px 2px;
}

.listing span {
  float: right;
  font-size: .67em;
}

#fblike iframe {
  width: 95px !important;
}
